{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <br><br>  <br><br>  <br><br>
<div class="container">
    <div class="jumbotron">
    <p>
        Si cette adresse e-mail est reliée a un compte et que celle-ci est valide vous allez recevoir mail avec un lien vous permettant de modifier votre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le mail regardez dans vos spam ou <a href="{{ path('app_forgot_password_request') }}">ré-essayez</a>.</p>
</div></div>
{% endblock %}
