#map {
    height:500px;
    width:1000px;
    margin:5rem auto;
}
@media only screen and (max-width: 768px) {
    #map {
        height:500px;
        width:500px;
        margin:5rem auto;
    }
    #imgp{
        height:10%;
        width:10%;
    }
}

@media only screen and (max-width: 1300px) {
    #map {
        height:500px;
        width:900px;
        margin:5rem auto;
    }
    #imgp{
        height:10%;
        width:10%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #map {
        height:500px;
        width:400px;
        margin:5rem auto;
    }
    #imgp{
        height:10%;
        width:10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #map {
        height:500px;
        width:500px;
        margin:5rem auto;
    }
    #imgp{
        height:10%;
        width:10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #map {
        height:500px;
        width:600px;
        margin:5rem auto;
    }
    #imgp{
        height:10%;
        width:10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #map {
        height:500px;
        width:900px;
        margin:5rem auto;
    }
    #imgp{
        height:10%;
        width:10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #map {
        height:500px;
        width:1000px;
        margin:5rem auto;
    }
    #imgp{
        height:50%;
        width:50%;
    }
}

.bande--info {
    background-color: #A3BA5B;
}

.bandeText {
    margin: 0;
    height: 100px;
    line-height: 100px;
    padding-left: 100px;
}

.navbar-custom {
    background-color: #0F8929;
    color:#FFFFFF;
}

.nav-item {
    color: #eae3da;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover{
    text-decoration: none;
    color:white;
}

.custom-toggler.navbar-toggler {
    border-color: lightgreen;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}