{% extends 'base.html.twig' %}

{% block title %}Forestria{% endblock %}

{% block body %}
<div class="container">

    <table>
        <tr>
            <td>
                <img src="{{ asset('images/cvtic.png') }}" height="42" width="42"><h1> FORESTRIA </h1>
            </td>
        </tr>

        <tr>
            <td>
                Voici le projet Forestria.<br>
            </td>
        </tr>
    </table>
    <hr class="my-4">
</div>
{% endblock %}