{{ include('header.html.twig') }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Forestria</title>
</head>
<body>
<div class="container">

    <table>
        <tr>
            <td>
                <img src="{{ asset('images/c.png') }}" height="42" width="42"><h1> Forestria </h1>
            </td>
        </tr>

        <tr>
            <td>
                <br>
            </td>
        </tr>
    </table>
    <hr class="my-4">
</div>
</body>
</html>