{%block body%}
 <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Créateurs</h3>
                        <ul>
                            <li>William Népaul</li>
                            <li>Heba Owis</li>
                            <li>Chaima Abradi</li>
                            <li>Adrien Marques</li>
                            <li>Dimitri Denis</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>A propos</h3>
                        <ul>
                            <li><a href="https://www.sciences.unilim.fr/">Faculté des Sciences et Techniques</a></li>
                            <li><a href="https://www.sciences.unilim.fr/sciences-de-la-vie-et-de-la-terre/licence-professionnelle-amenagement-du-paysage-amenagement-arbore-et-forestier/">LP Pro MRNF</a></li>
                            <li><a href="https://www.sciences.unilim.fr/tic/metiers-de-linformatique-conduite-de-projets-conseil-tic/">LP Pro - Métiers de l'informatique : conduite de projets - Conseil TIC et Technologie du développement web</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Forestria</h3>
                        <p>Forestria est une application innovante mélant loisirs en plein air et interactivité avec l'utilisateur. Dans le but de découvrir l'environnement tout en la préservant.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <div class="text-center">
                    <hr>
                    <p>© 2022 Forestria.</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}