{%block body%}
 <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Créateurs</h3>
                        <ul>
                            <li>William Népaul</li>
                            <li>Heba Owis</li>
                            <li>Chaima Abradi</li>
                            <li>Adrien Marques</li>
                            <li>Dimitri Denis</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>A propos</h3>
                        <ul>
                            <li><a href="https://www.sciences.unilim.fr/">Faculté des Sciences et Techniques</a></li>
                            <li><a href="https://www.sciences.unilim.fr/sciences-de-la-vie-et-de-la-terre/licence-professionnelle-amenagement-du-paysage-amenagement-arbore-et-forestier/">LP Pro MRNF</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Forestria</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                
            </div>
        </footer>
    </div>
{% endblock %}