{%block body%}
    <nav class="navbar navbar-custom navbar-expand-lg ">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/"><i class="fas fa-home"></i> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/parcours"><i class="fas fa-map-signs"></i> Parcours</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <a class="nav-item nav-link pull-right" href="/user"><i class="fas fa-user"></i> Profil </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-item nav-link pull-right" href="/admin"><i class="fas fa-hammer"></i> Administration</a>
                    {% endif %}
                    <a class="nav-item nav-link pull-right" href="{{ path('app_logout') }}"><i class="fas fa-bed"></i> Logout</a>
                {% else %}
                    <a class="nav-item nav-link pull-right" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a class="nav-item nav-link pull-right" href="/register"><i class="fas fa-user"></i> Register</a>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}